<!DOCTYPE html>
<html lang="en">
	<head>
		<title>OpsCast.com</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" style="margin-bottom: 100px;">
			<div style="width: 70%; text-align: center;">
				<h3 style="margin-top: 40px; margin-bottom: 20px;">Newest OpsCasts</h3>
			</div>
			<div style="width: 70%; text-align: center; clear: both;">
				<div class="cast-panel provisioning">
					<div class="cast-panel-header">
						<div class="cast-panel-header-category">
						  Provisioning
						</div>
						<div class="cast-panel-header-title">
							Provisioning with Chef: A Quick Guide
						</div>
						<div class="clear"></div>
					</div>
					<div class="cast-panel-graphic">
						<%= image_tag "example.png", alt: "Example Graphic", height: 200, width: 300 %>
					</div>
					<div class="cast-panel-info">
						<div>
							<p>
								Chef is a powerful automation platform that transforms complex infrastructure into code, bringing your servers and services to life. Chef automates how applications are configured, deployed, and managed across your network. In this cast, we will show you how to beign utilizing its power.
							</p>
						</div>
						<div>
							Posted: 02/01/2016
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="cast-panel deployment">
					<div class="cast-panel-header">
						<div class="cast-panel-header-category">
						  Deployment
						</div>
						<div class="cast-panel-header-title">
							Deploying an App with Capistrano
						</div>
						<div class="clear"></div>
					</div>
					<div class="cast-panel-graphic">
						<%= image_tag "example.png", alt: "Example Graphic", height: 200, width: 300 %>
					</div>
					<div class="cast-panel-info">
						<div>
							<p>
								Capistrano is framework for building automated deployment scripts. Although Capistrano itself is written in Ruby, it can easily be used to deploy projects of any language or framework, be it Rails, Java, or PHP. In this cast we will show you how to deploy a simple Rails project with it.
							</p>
						</div>
						<div>
							Posted: 02/01/2016
						</div>
					</div>
					<div class="clear"></div>
				</div>
				1 <a>2 >></a>
			</div>
		</div>
	</body>
</html>
