<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="margin-left: 6%;">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">OpsCast</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="header-option-active"><a class="header-link-active" href="#">Home</a></li>
			<li class="header-option"><a href="#">Forum</a></li>
			<li class="header-option"><a href="#">Contribute</a></li>
			<li class="header-option"><a href="#">Contact</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="header-option"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li class="header-option"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>
