 <div class="menu-container">
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseProvision" aria-expanded="false" aria-controls="collapseProvision">Provisioning</a>
		</div>
		<div class="collapse" id="collapseProvision">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- Ansible</a></li>
					<li role="presentation"><a href="#">- Chef</a></li>
					<li role="presentation"><a href="#">- CloudFormation</a></li>
					<li role="presentation"><a href="#">- Docker</a></li>
					<li role="presentation"><a href="#">- Puppet</a></li>
					<li role="presentation"><a href="#">- SaltStack</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseDeploy" aria-expanded="false" aria-controls="collapseDeploy">Deployment</a>
		</div>
		<div class="collapse" id="collapseDeploy">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- Capistrano</a></li>
					<li role="presentation"><a href="#">- CloudDeploy</a></li>
					<li role="presentation"><a href="#">- Fabric</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseCollaboration" aria-expanded="false" aria-controls="collapseCollaboration">Collaboration</a>
		</div>
		<div class="collapse" id="collapseCollaboration">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- HipChat</a></li>
					<li role="presentation"><a href="#">- Slack</a></li>
					<li role="presentation"><a href="#">- Sococo</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseLogging" aria-expanded="false" aria-controls="collapseLogging">Logging</a>
		</div>
		<div class="collapse" id="collapseLogging">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- Loggly</a></li>
					<li role="presentation"><a href="#">- Logstash</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseMonitoring" aria-expanded="false" aria-controls="collapseMonitoring">Monitoring</a>
		</div>
		<div class="collapse" id="collapseMonitoring">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- Nagios</a></li>
					<li role="presentation"><a href="#">- Monit</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseTesting" aria-expanded="false" aria-controls="collapseTesting">Testing</a>
		</div>
		<div class="collapse" id="collapseTesting">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- Jenkins</a></li>
					<li role="presentation"><a href="#">- Travis</a></li>
					<li role="presentation"><a href="#">- TeamCity</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="menu-item">
			<a role="button" data-toggle="collapse" href="#collapseVirtualization" aria-expanded="false" aria-controls="collapseDeploy">Virtualization</a>
		</div>
		<div class="collapse" id="collapseVirtualization">
			<div>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#">- VMWare</a></li>
					<li role="presentation"><a href="#">- Vagrant</a></li>
					<li role="presentation"><a href="#">- VirtualBox</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
